.background{
    background-color: lightskyblue;
}
.panel{
    margin-top: 80px;
    margin-left: 50px;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 300px;
}
.sender{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}
.heading{
    font-family: 'Oswald', sans-serif;
    color: #e9f5f8;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 30px;
}
.alert-message{
    color: white;
    background-color: #399cbd;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

/* .btn{
    margin-top: 20px;
    height: 50px;
    width: 250px;
    margin-left: 100px;
    border-radius: 60px;
    border: none;
    background-color: lightskyblue;
    color: white;
}
.btn:hover{
    background-color: #399cbd;
    color: white;
    transform: translatey(-10px);} */
.btn{
    width: 200px;
    height: 50px;
    margin-left: 120px;
    border-radius: 60px;
    background-color: #399cbd;
    color: white;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    border-radius: 100px;
}
